body{
    background-image: url(img/background.png);
    /* background-image: url(img/rewards/jermit.gif); */
    /* background: linear-gradient(#6d461fd2, #6d461fd2); */

    background-color: #6d461fd2;
    background-attachment: fixed; 
}
p{
    color: #191919;
} 
#message{
    padding: 5px;
    width: 60px;
    height: 150px;
    border: 1px dashed white;
    border: 1px dashed rgba(255,255,255, 0.5);
    box-shadow: inset 0px 1px 4px black;
    box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.35);
    background-color: #F9F9F9;
}
#bouton{
    background-color: #F2F2F2;
    border-radius: 10px;
}
.pico{
    width: 100px;
    border: 1px #5B3C1D groove;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    position: fixed;
    text-align: center;
    left: 450px;	
    top: 10px;
    background-color: #F4F4F4;
}
.BBcode{
    width: 260px;
    border: 1px #5B3C1D groove;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    position: fixed;
    text-align: center;
    left: 575px;	
    top: 10px;
    background-color: #F4F4F4;
}
.message{
    padding: 5px;
    width: 360px;
    border: 1px dashed white;
    border: 1px dashed rgba(255,255,255, 0.5);
    box-shadow: inset 0px 1px 4px black;
    box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.35);
    background-color: #E8E8E8;
}
.canvas{
    width: 56px;
    border: 1px dashed white;
    border: 1px dashed rgba(255,255,255, 0.5);
    box-shadow: inset 0px 1px 4px black;
    box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.35);
    background-color: #E8E8E8;
    position:absolute;
    display:inline-block;
    text-align:center;
    margin-top:30px;
    transform:translateX(-256px);
}

.title{
	display: block;
    font-size: 20px;
    color: #A30000;
	text-align: center;
}
.sep{
    width:373px;
}
.goldenbook{
    border: 1px #5B3C1D groove;
    border-radius: 10px;
    padding: 2px;
    margin: 2px;
    position: fixed;
    left: 855px;	
    top: 10px;
    background-color: #F4F4F4;
}
.reponses{
    font-family: 'Gloria Hallelujah', cursive;
	border: 1px #5B3C1D dashed;
	width: 360px;
	max-height: 170px;
	margin: 3px;
	padding: 5px;
	font-size: 13px;
	background-color: #EFEFEF;	
	overflow: auto;
}
.petit{
	display: block;
	font-size: 12px;
	text-align: right;
}
.patchlog{
	color: #BABABA;
    position: fixed;
    right: 80px;
    bottom: 10px;
}
.sign{
    color: #BABABA;
    position: fixed;
    right: 20px;
    bottom: 10px;
}
a{
	color: #693E29;
}
#message{
    padding: 5px;
	width: 360px;
    height: 40px;
	border: 1px dashed white;
	border: 1px dashed rgba(255,255,255, 0.5);
	box-shadow: inset 0px 1px 4px black;
	box-shadow: inset 0px 1px 2px rgba(0,0,0, 0.35);
	background-color: #F9F9F9;
}
.reload{
	border: 1px #5B3C1D groove;
    border-radius: 10px;
    padding: 2px;
    margin: 4px;
    position: fixed;
    right: 0px;
    top: 0px;
    background-color: #8C5632;
}
.form_check{
	border: 1px #5B3C1D groove;
    border-radius: 10px;
	width: 150px;
    padding: 4px;
    margin: 4px;
    left: 0px;
    top: 0px;
    background-color: #8C5632;
}
.form_sugg{
	border: 1px #5B3C1D groove;
    border-radius: 10px;
	width: 300px;
    padding: 4px;
    margin: 4px;
    background-color: #8C5632;
}
.baniere{
	border: 1px #8C5632 solid;
	border-radius: 20px;
	width: 800px;
}
.bug{
	
    border: 1px #5B3C1D groove;
    border-radius: 10px;	
    width: 300px;
	background-color: #8C5632;
}
.fait{
	border: 1px #5B3C1D groove;
    border-radius: 10px;
    width: 300px;
	background-color: #E08550;
}
.fab {
    font-family: "Font Awesome 5 Brands";
}
.fa-gitlab:before {
    content: "\f296";
    font-size: 2.5rem;
    color: #ffffff;
    display: inline-block;
    right: 10;
    position: fixed;
}
